.c-navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow:black;
    z-index: 40;
}

.c-navbar {
    background-color: white;

    &__li {
        padding: 1.3em 2.5em;

        &:hover {
            background-color: var(--beish-hover-color)
        }
    }
}

.c-ul{
    &--contracted {
        position: fixed;
        top: 0;
        left: 0;
        width: 65%;
        height: 100vh;
        background-color: var(--beish-color);
        animation: ul-animation 0.3s ease-in;
    }
}

.c-shadow-window {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    animation: shadow-window-animation 0.8s ease-out;
}

.c-searcher {
    padding: 1em 1.5em;
    background-color: white;
    border-radius: 4em;

    &__container {
        position: absolute;
        top: 4em;
        width: 100vw;
        background-color: var(--beish-color);
        animation: searcher-animation 0.8s ease-in-out;
    }

    &__input {
        &:focus,
        &:active {
            outline: none;
        }
    }
}

.c-404 {
    height: 65vh;
    text-align: center;
}

.c-main-article {
    background-color: var(--beish-color);

    &__button {
        color: white;
        background-color: black;
        border-radius: 2em;

        &:hover {
            background-color: #181818;
            transition: background-color 0.5s ease-in;
        }
    }
}

.c-main-article {
    &__image {
        border-radius: 0.8em;
    }
}

.c-comments {
    border: var(--beish-color) solid 2px;
    border-radius: 2em;
}

.c-card {
    &:hover {
        scale: 0.9;
        transition: 0.1s ease-in-out;
    }
}

.c-product {
    &__main-card {
        &--hidden {
            position: relative;
            border-radius: 1.5em;
            overflow: hidden;
        }
    }

    &__secondary-cards {
        width: 30%;
        border-radius: 0.8em;
    }
}

.c-circle {
    &__back {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 1px solid black;
    }

    &__front {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}

.login {
    &__image {
        background-color: var(--beish-color);
    }
}