.c-navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow:black;
    z-index: 100;
}

.c-navbar {
    background-color: white;

    &__li {
        padding: 1.3em 2.5em;

        &:hover {
            background-color: var(--beish-hover-color)
        }
    }
}

.c-ul{
    &--contracted {
        position: fixed;
        top: 0;
        left: 0;
        width: 65%;
        height: 100vh;
        background-color: var(--beish-color);
        animation: ul-animation 0.3s ease-in;
    }
}

.c-shadow-window {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    animation: shadow-window-animation 0.8s ease-out;
}

.c-searcher {
    padding: 1em 1.5em;
    background-color: white;
    border-radius: 4em;

    &__container {
        position: absolute;
        top: 4em;
        width: 100vw;
        background-color: var(--beish-color);
        animation: searcher-animation 0.8s ease-in-out;
    }

    &__input {
        &:focus,
        &:active {
            outline: none;
        }
    }
}

.c-404 {
    height: 85vh;
    text-align: center;
}

.c-main-article {
    background-color: var(--beish-color);

    &__button {
        color: white;
        background-color: black;
        border-radius: 2em;

        &:hover {
            background-color: #181818;
            transition: background-color 0.5s ease-in;
        }
    }
}

.c-main-article {
    &__image {
        border-radius: 0.8em;
    }
}