.u-extra-bold-font {
    font-family: var(--bold-font);
    font-weight: 900;
}

.u-regular-font {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 100;
}

.u-beish-bg {
    background-color: var(--beish-color);
}